
@import '../../app.component.scss';

footer {
  position: relative;
  width: 100%;
  margin-top: auto;
  display: block;
}

.footer {
  background-color: $color3;
  height: 180px;
  width: 100%;
}

.reseaux-sociaux {
  display: flex;
  flex-direction: row;
}

.icon-facebook {
  background: url('/assets/img/facebook.svg') no-repeat center;
}

.icon-twitter {
  background: url('/assets/img/twitter.svg') no-repeat center;
}

.icon-instagram {
  background: url('/assets/img/instagram.svg') no-repeat center;
}

.icon {
  height: 25px;
  width: 25px;
  margin: 4px;
}

ul {
  list-style-type: none;
}

.hours {
  width: 100%;
  text-align: center;
  margin: 5px;
  > span {
    width: 100%;
  }
  ul {
    margin-top: 5px;
    li {
      p {
        width: 200px;
        margin: 0px;
        padding-left: 20px;
        text-align: center;
      }
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    padding-left: 0px;
  }
}
