
<footer>

  <div class="medium">

    <mat-grid-list cols="6" class="medium">

      <mat-grid-tile colspan="2" class="hours">

        <div *ngIf="garage">

          <span>Horaires</span>

          <ul>
            <li><span>Lundi&nbsp;</span><p>{{garage.day1hours}}</p></li>
            <li><span>Mardi</span><p>{{garage.day2hours}}</p></li>
            <li><span>Mercredi</span><p>{{garage.day3hours}}</p></li>
            <li><span>Jeudi</span><p>{{garage.day4hours}}</p></li>
            <li><span>Vendredi</span><p>{{garage.day5hours}}</p></li>
            <li><span>Samedi</span><p>{{garage.day6hours}}</p></li>
            <li><span>Dimanche</span><p>{{garage.day7hours}}</p></li>
          </ul>

        </div>

      </mat-grid-tile>

      <mat-grid-tile colspan="2"></mat-grid-tile>

      <mat-grid-tile colspan="2">
        <ul>
          <li *ngFor="let reseau of reseaux" [ngClass]="reseau.img">
            <a title="reseau.title" href="reseau.href" target="_blank"></a>
          </li>
        </ul>
      </mat-grid-tile>

    </mat-grid-list>

  </div>

</footer>
