<div (window:beforeunload)="record()"></div>
<div *ngIf="serviceForm" [formGroup]="serviceForm" class="content">

  <div class="row">

    <div class="col-1" [ngStyle]="selectStyle">

      <h3 mat-dialog-title>{{message}}</h3>

      <mat-grid-list cols="4" rowHeight="70px">

        <mat-form-field appearance="fill">
          <mat-label>Service</mat-label>
          <mat-select [(value)]="serviceSelected" (selectionChange)="onServiceChange()">
            <mat-option *ngFor="let service of services;" value="{{service.name}}">{{service.name}}</mat-option>
          </mat-select>
        </mat-form-field>

      </mat-grid-list>

    </div>

  </div>
  <div class="row">

    <div class="col-2">

      <h3 mat-dialog-title>Détail du service</h3>

      <mat-grid-list cols="4" rowHeight="70px" class="composant-page">

        <mat-grid-tile colspan="4">
          <mat-form-field appearance="fill" enabled="'false'">
            <mat-label>Nom</mat-label>
            <input matInput formControlName="name" type="name" name="name" placeholder="Nom du service"/>
          </mat-form-field>
        </mat-grid-tile>

      </mat-grid-list>
      <input hidden (change)="onFileSelected()" #fileInput type="file" id="file">

      <mat-grid-list cols="4" rowHeight="400px" class="composant-desc">

        <mat-grid-tile colspan="4">
          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" type="description" name="description" placeholder="description"></textarea>
          </mat-form-field>
        </mat-grid-tile>

      </mat-grid-list>

    </div>
    <div class="separate"></div>
    <div class="col-2">

      <h3 mat-dialog-title>Image de présentation</h3>

      <mat-grid-list cols="4" rowHeight="70px" class="composant-page">
        <mat-grid-tile colspan="4">
          <button [disabled]="serviceForm.disabled" type="button" mat-raised-button (click)="fileInput.click()">Image</button>
        </mat-grid-tile>
      </mat-grid-list>

      <div class="image-div">
        <img *ngIf="image !== null" src="{{image}}" alt="" [ngClass]="imageClass" >
      </div>
      <input hidden (change)="onFileSelected()" #fileInput type="file" id="file">

    </div>

  </div>

  <div class="row">

      <mat-grid-list cols="8" rowHeight="70px" class="composant-buttons">

        <mat-grid-tile colspan="{{4 - buttons.length}}"></mat-grid-tile>
        <mat-grid-tile colspan="2" *ngFor="let button of buttons">
          <button class="field" mat-raised-button [disabled]="button.invalid()" (click)="button.click()">{{button.label}}</button>
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>

      </mat-grid-list>

  </div>

</div>

<div>
  <p class="text-danger">{{errorMessage}}</p>
</div>
