
$photo-height: 280px;
$photo-witdh: 620px;

app-gallery {
}

.gallery {
  overflow-x: hidden;
  width:$photo-witdh;
}

.defile {
  overflow-x: auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.div-card {
  position: relative;
}

.photo {
  height: $photo-height;
  width: auto;
}

.delete-button {
  position:absolute;
  background-color: transparent;
  color: white;
  top: 15px;
  left: 15px;
}
