
.div-card {
  position: relative;
}

.delete-button {
  position:absolute;
  background-color: transparent;
  color: white;
  top: 15px;
  left: 15px;
}

$photo-height: 280px;

.photo {
  height: $photo-height;
  width: auto;
}

.occasion {
  height: 100px;
  width: auto;
}
