
.confirm-dialog {

  margin: 30px;

  div {
    margin-top: 20px;
  }

  .confirm-buttons {

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .confirm-button {
      min-width: 60px;
    }

  }

}
