
@import '../../app.component.scss';

.modal-icon {
  color: white;
  background-color: #D92332;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3em;
  width: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.modal-icon svg {
  margin: auto;
}

.detail {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 5vh;
  justify-content: center;
  width: 400px;
}

button {
  width: 100%;
}

h3 {
  margin-top: 10vh;
  text-align: center;
}

.composant-buttons {
  width: 100%;
}

a {
  background-color: transparent;
}

@media screen and (max-width: 500px) {

  .detail {
    width: 280px;
    margin: auto;
    padding: 5px;
  }

}
