
$color1: #D92332;
$color2: #D94350;
$color3: #D9777F;
$color4: #262526;
$color5: #F2F2F2;

//$primary: $color3;

.screen {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;

  main {
    width: 100%;
  }

}
.medium {
  max-width:1200px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 100%;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.col-2 {
  width: 48%;
}

.col-1 {
  width: 80%;
  margin: 10px;
}

h3 {
  text-align: left;
  width: 100%;
  color: $color4;
}

table {
  width: 100%;
}

button {
  width: 100%;
  height: 80%;
  border: 1px solid $color4;
  background-color: $color5;
  span, svg {
    color: $color4
  }
}

.update-button {
  color: $color3;
}

.delete-button {
  color: $color3;
}

.selected {
  background-color: $color3;
  td, th, .delete-button, .update-button {
    color: $color4;
  }
}

.table-desactivate {
  td, th {
    color: #CCCCCC;
  }
  .delete-button svg, .update-button svg {
    visibility: hidden;
  }
}

.filter {
  width: 100%;
  input, mat-label {
    color: $color1;
  }
}

td, th {
  color: $color3;
}

::ng-deep input.mat-mdc-input-element {
  color: $color1;
}

/*TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
  background-color: $color3;
}

::ng-deep input.mat-mdc-input-element {
  color: $color3;
}

.cache {
  display: none;
}

.detail {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
}

mat-form-field {
  width: 100%;
}

.mat-grid-list {
  padding-bottom: 0px;
}

footer {
  position: relative;
  width: 100%;
  margin-top: auto;
  display: block;
}

textarea {
  max-height: 370px;
}

.cache {
  display: none;
}

.star-disbaled {
  color: rgb(244, 226, 189);
}

.star-enabled {
  color: rgb(253, 166, 3);
}
