
@import '../../app.component.scss';

.content {
  margin-top: 5vh;
}

mat-form-field {
  width: 100%;
  height: 90%;
}

.row {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;

  mat-grid-list {
    width: 100%;
  }

}

.col-2 {
  width: 40%;
  margin: 20px;
}

button {
  width: 100%;
  height: 90%;
  border: 1px solid black;
}

h3 {
  margin-top: 31px;
}

.readonly-field {
  cursor: not-allowed;

  .readonly-block {
    pointer-events: none;
  }

}

@media screen and (max-width: 1080px) {

}

@media screen and (max-width: 800px) {

  .row {
    flex-direction: column;
  }

  .col-2 {
    width: 100%;
  }

}

@media screen and (max-width: 520px) {

}
