
.service {
  display: flex;
  flex-direction: row;
}

.service-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.text {
  display: flex;
  flex-direction: column;
  margin: 60px;
}

img {
  margin: 20px;
}
