
@import '../../app.component.scss';

.car-card {
  width: 270px;
}

.car-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.image-div {
  width: 100%;
  aspect-ratio: 1 / 1;
  text-align: center;
  margin: auto;
  border-radius: 6px 6px 0px 0px;
}

.image-h {
  margin: auto;
  width: 100%;
  height: auto;
}

.image-v {
  margin: auto;
  width: auto;
}

.occasions {
  display: flex;
  flex-direction: row;
}

.car-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.car-card {
  margin: 10px;
  height: 360px;
  border-radius: 6px;
}

mat-slider {
  margin: 0px;
}

.filters-slider {
  margin: 20px;
  padding-right: 30px;
  width: 220px;
}

.filter-slider {
  width: 220px;
  margin: 0;
  display: flex;
  flex-direction: column;
  p {
    margin: 0px;
  }
}

mat-label {
  margin-top: 50px;
}

@media screen and (max-width: 900px) {

  .filters-slider {
    margin: auto;
    padding-right: 30px;
    width: 220px;
  }

    .occasions {
    display: flex;
    flex-direction: column;

    .car-card {
      margin: auto;
      margin-top: 10%;
    }
  }

}
