
@import '../../app.component.scss';

.car-detail {
  display: flex;
  flex-direction: row;
}

.car-gallery {
  margin-left: auto;
  margin-right: auto;
}

$photo-witdh: 600px;

.car-photos {
  display: flex;
  flex-direction: column;
  width: $photo-witdh;
  img {
    width: $photo-witdh
  }
}

.div-image {

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 540px;
  height: 294px;
  margin: auto;
  overflow: hidden;
  border-radius: 6px 6px 0px 0px;

  div {

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;

    img {
      margin: auto;
      width: 100%;
      height: auto;
    }

  }

}



.gallery {
  overflow-x: hidden;
  max-width: $photo-witdh;
}

.defile {
  overflow-x: auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.description {
  margin: 80px;
}

.characteristics {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  h5 {
    width: 33%;
    margin-top: 8px;
    margin-left: 8px;
  }
  > div {
    width: 33%;
    border: solid 1px black;
    li {
      display: flex;
      flex-direction: row;
      > div {
        width: 50%;
        margin: 0px;
      }
    }
  }
}

@media screen and (max-width: 1090px) {

  .car-detail {
    display: flex;
    flex-direction: column;
  }

  .car-photos {
    margin: auto;
  }

  .characteristics {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 40px;
    > div {
      width: 330px;
      margin: auto;
    }
  }

}

@media screen and (max-width: 600px) {

  $photo-witdh: 450px;

  .car-photos {
    display: flex;
    flex-direction: column;
    width: $photo-witdh;
    img {
      width: $photo-witdh
    }
  }

  .gallery {
    overflow-x: hidden;
    max-width: $photo-witdh;
  }

}

@media screen and (max-width: 450px) {

  $photo-witdh: 330px;

  .car-photos {
    display: flex;
    flex-direction: column;
    width: $photo-witdh;
    img {
      width: $photo-witdh
    }
  }

  .gallery {
    overflow-x: hidden;
    max-width: $photo-witdh;
  }

}

