
@import '../../app.component.scss';

$photo-witdh: 620px;

.mat-mdc-form-field {
  font-size: 14px;
}

.image-div {
  width: 100%;
  aspect-ratio: 1 / 1;
  text-align: center;
  margin-bottom: 10px;
}

.image-h {
  width: 100%;
  height: auto;
}

.image-v {
  width: auto;
  height: 100%;
}

.gallery {
  overflow-x: hidden;
  width:$photo-witdh;
}

.defile {
  overflow-x: auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.textarea {
  max-height: 200px;
}

.mat-area {
  height: 100%;
}
