
@import '../../app.component.scss';

$photo-witdh: 100%;

.mat-mdc-form-field {
  font-size: 14px;
}

.image-div {
  aspect-ratio: 1 / 1;
  margin-bottom: 10px;
}

.div-image {

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 500px;
  height: 273px;
  margin: auto;
  overflow: hidden;

  div {

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;

  }

}

.image-h {
  width: 500px;
  height: auto;

}

.image-v {
  width: auto;
}

.gallery {
  overflow-x: hidden;
  width:$photo-witdh;
}

.defile {
  overflow-x: auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.textarea {
  max-height: 200px;
}

.mat-area {
  height: 100%;
  margin-top: 60px;
}

.col-1 {
  width: 80%;
}

@media screen and (max-width: 800px) {

  .div-image {

    width: 330px;
    height: 180px;
    margin: auto;

  }

}
