<div *ngIf="carForm" [formGroup]="carForm" class="col-1">

  <mat-grid-list cols="4" rowHeight="50px">

    <mat-grid-tile colspan="2">
      <h3 mat-dialog-title>{{carH3Label}}</h3>
    </mat-grid-tile>

    <mat-grid-tile colspan="1">
      <button *ngIf="['update', 'create'].indexOf(state) >= 0 && isUpdated && !carForm.invalid" class="button" mat-raised-button (click)="saveCar()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-record-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        </svg>
        <span> Enregistrer</span>
      </button>
    </mat-grid-tile>

    <mat-grid-tile colspan="1">
      <button *ngIf="['update', 'create'].indexOf(state) >= 0" class="button" mat-raised-button (click)="cancel()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
        <span> Abandonner</span>
      </button>
    </mat-grid-tile>

  </mat-grid-list>

  <div class="mat-elevation-z8 detail">

    <mat-grid-list cols="{{sizeTable}}" rowHeight="70px" (window:resize)="onResizeTable($event)">

      <mat-grid-tile colspan="2">
        <mat-form-field enabled="'false'">
          <mat-label>Marque</mat-label>
          <input matInput formControlName="brand" type="brand" name="brand" placeholder="Marque"/>
          <app-errors [field]="brand"></app-errors>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="2">
        <mat-form-field>
          <mat-label>Modèle</mat-label>
          <input matInput formControlName="model" type="model" name="model" placeholder="Modèle">
          <app-errors [field]="model"></app-errors>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="{{sizeTable}}">
        <mat-form-field>
          <mat-label>Prix</mat-label>
          <input matInput formControlName="price" type="price" name="price" placeholder="Prix">
          <app-errors [field]="price"></app-errors>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="2">
        <mat-form-field>
          <mat-label>Année</mat-label>
          <input matInput formControlName="year" type="year" name="year" placeholder="Année">
          <app-errors [field]="year"></app-errors>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="2">
        <mat-form-field>
          <mat-label>Kilomêtre</mat-label>
          <input matInput formControlName="kilometer" type="kilometer" name="kilometer" placeholder="Kilomêtre">
          <app-errors [field]="kilometer"></app-errors>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="{{sizeTable}}">
        <mat-form-field *ngIf="car" >
          <mat-label>Options</mat-label>
          <mat-select formControlName="options" multiple [(ngModel)]="carOptions" [compareWith]="compareOptions">
            <mat-option *ngFor="let option of optionList" [value]="option">{{option.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>

    <mat-grid-list cols="{{sizeTable}}" rowHeight="400px" (window:resize)="onResizeTable($event)">

      <mat-grid-tile colspan="{{sizeTable}}">
        <div>
          <button [disabled]="carForm.disabled" type="button" mat-raised-button (click)="fileInputPrincipale.click()">Image principale</button>
          <img *ngIf="image !== null && image.filename !== ''" src="{{image.filename.indexOf('data:image') === 0? image.filename : useBackendImages + '/' + image.filename}}" alt="" [ngClass]="imageClass" >
        </div>
      </mat-grid-tile>

      <input hidden (change)="onFileSelected('gallery')" #fileInputGallery type="file" id="gallery">
      <input hidden (change)="onFileSelected('principale')" #fileInputPrincipale type="file" id="principale">

      <mat-grid-tile colspan="{{sizeTable}}">
        <div class="gallery">
          <button [disabled]="carForm.disabled" type="button" mat-raised-button (click)="fileInputGallery.click()">Ajouter à la Gallery</button>
          <app-gallery
            class="defile"
            *ngIf="car"
            [photos]="images"
            (samephotos)="onSamephotos($event)"
            [state]="state"
            ></app-gallery>
        </div>
      </mat-grid-tile>

    </mat-grid-list>

    <mat-grid-list cols="12" rowHeight="300px">

      <mat-grid-tile colspan="12">
        <mat-form-field class="mat-area">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description" type="description" name="description" placeholder="Description"></textarea>
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>

    <mat-grid-list cols="12" rowHeight="70px">

      <mat-grid-tile colspan="2">
        <h4>Caratèristiques</h4>
      </mat-grid-tile>

      <mat-grid-tile colspan="1">
        <svg *ngIf="['update', 'create'].indexOf(state) >= 0" (click)="addFeature()"
          xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
        </svg>
      </mat-grid-tile>

      <mat-grid-tile colspan="9"></mat-grid-tile>

    </mat-grid-list>

    <div *ngIf="car" formArrayName="features">

      <div *ngFor="let featureForm of features.controls; let i = index">

        <mat-grid-list rowHeight="90px" [formGroupName]="i"
          cols="{{sizeTable}}" (window:resize)="onResizeTable($event)"
        >

          <mat-grid-tile colspan="2">
            <div *ngIf="['update', 'create'].indexOf(state) >= 0" (click)="deleteFeature(i)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
            </div>
            <mat-form-field enabled="'false'">
              <mat-label>Nom</mat-label>
              <input matInput formControlName="name" type="name" name="name" placeholder="Nom"/>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="2">
            <mat-form-field>
              <mat-label>Description</mat-label>
              <textarea matInput formControlName="description" type="description" name="description" placeholder="description"></textarea>
            </mat-form-field>
          </mat-grid-tile>

        </mat-grid-list>

      </div>

    </div>

  </div>

</div>

